<!-- div #grid class="grid"
     [class.loaded]="loaded"
     [style.transform]="'translateZ(0) translateX(' + pos + 'px)'"
     [style.grid-template-columns]="'repeat(' + cols + ', 250px)'">
  <div *ngFor="let note of notes; trackBy: id"
       class="block no-select">
    <app-note-list-item note
                        [class.hidden]="note?.state === noteStates.CREATE"
                        [class.note-view]="note?.state === noteStates.VIEW"
                        [color]="note?.color"
                        [title]="note.title"
                        [content]="note.content"
                        [test]="note?.test"
                        [test2]="note?.['test2']"
    ></app-note-list-item>
  </div>
</div -->
<!-- [@notesList]="notes.length" -->
<!-- but the text can be selectable -->
<app-note-list-item *ngFor="let note of notes$ | async; trackBy: id" #note
                    class="note no-select"
                    [color]="note?.color"
                    [title]="note.title"
                    [content]="note.content"
                    [test]="note?.test"
                    [test2]="note?.['test2']"
></app-note-list-item>
