:host {
  /*display: grid;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  justify-content: center;
  gap: 20px;

  @media screen and (max-width: 1150px) {
    grid-template-columns: repeat(2, minmax(200px, 300px));
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: minmax(200px, 300px);
  }*/
  // position: relative;


  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 300px)); // with media queries i guess in ts when resizing window
  justify-content: center;
  gap: 20px;

  .col {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}
