:host {
  width: 100%;
  position: relative;
  overflow-y: scroll;

  .note {
    z-index: 1;
    position: absolute;
    will-change: transform;
    opacity: 0;
    transition: transform 350ms ease-in-out;
    transform-origin: 35% 100%;
    display: block;

    &.cdk-drag-dragging {
      z-index: 10;
      transition: none;
      transform: none;
      pointer-events: none;
    }
  }

  .note-outline {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 6px;
    border: 2px dashed rgba(black, 0.5);
  }
}
