:host {
  height: 100%;
  width: 100%;
  display: block;
  // insert main into flex container and center it

  .main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-auto-rows: 1px;
    padding: 10px 5px;
    justify-content: start;
  }
}
