:host {
  display: block;
  padding: 0 5px 10px;
  width: 250px;
  position: relative;
}

.overlay {
  $oversize: 15px;
  position: absolute;
  top: -$oversize;
  left: -$oversize / 2;
  width: calc(100% + 5px);
  height: 100%;
  z-index: 5;
  // border: 1px solid red;
}

.content {
  white-space: pre-wrap;
}
