:host {
  display: block;
  padding: 0 5px 10px;
  width: 250px;
  position: relative;
}

.overlay {
  $oversize: 5px;
  position: absolute;
  top: -$oversize;
  left: 0;
  width: calc(100% - $oversize);
  height: calc(100% - $oversize);
  z-index: 5;
  // border: 1px solid red;
}

.content {
  white-space: pre-wrap;
}
