:host {
  width: 100%;
  height: 100%;
  display: flex;

  .main {
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-auto-rows: 10px;
    transition: all 0.3s linear;
    padding: 5px;
  }

  .bl {
    box-sizing: border-box;
    padding: 5px;

    .content {
      border: 1px solid black;
      box-sizing: border-box;
      background: wheat;
    }
  }
}
